h3 It currently {{weather.current_observation.temp_f}} degrees in {{weather.current_observation.display_location.full}}, {{zip}}
h4 {{weather.current_observation.weather}}
img(src='{{weather.current_observation.icon_url}}')
