h3 Directive
//-div(ng-repeat='p in people',mb-greeting, name='{{p.name}}', age='{{p.age}}')
//-div(mb-clock, frequency='5000')
//-div(mb-clock, frequency='2000')
div(mb-movies)
div(mb-weather, zip='37212')
div(ng-repeat='s in symbols',mb-stock, symbol='{{s}}')
div(mb-clock, frequency='20000')
div(mb-clock, frequency='2')

